CLIENT_URI=http://localhost:3000
JWT_SECRET=123456
DATABASE_URL=postgresql://postgres:password@localhost:5432/hotel_db?schema=public
RAZORPAY_API_KEY=YOUR_RAZORPAY_API_KEY
RAZORPAY_SECRET=YOUR_RAZORPAY_SECRET